<!doctype html>
<html lang="en">
<head>
  {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block styles %}
      <!-- Bootstrap CSS -->
      {{ bootstrap.load_css() }}
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
    {% endblock %}
    {% if title %}
      <title>{{ title }} | Наследие C&C</title>
    {% else %}
      <title>Наследие C&C</title>
    {% endif %}
  {% endblock %}
</head>
<body>
  <!-- Your page content -->
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-info" role="alert">{{ message }}</div>
    {% endfor %}
  {% endif %}
  {% endwith %}

  {% block layout %}{% endblock %}

  {% block scripts %}
    <!-- Optional JavaScript -->
    {{ bootstrap.load_js() }}
    {{ moment.include_moment() }}
    {{ moment.locale('ru') }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
  {% endblock %}
</body>
</html>