<div class="sidebar-header">
  <h3><b>Наследие C&C</b></h3>
</div>
<ul class="list-unstyled components">
  {% for item in menu_items recursive %}
  <li>
    <div class="split-container">

      {% if item.item_link %}
      <a href="{{ item.item_link }}" class="split-left">{{ item.item_name|e }}</a>
      {% elif item.item_page %}
      <a href="/page/{{ item.item_page.page_url }}" class="split-left">{{ item.item_name|e }}</a>
      {% else %}
      <a href="#" class="split-left">{{ item.item_name|e }}</a>
      {% endif %}

      {% if item.item_subitems.all() %}
      <a href="#{{ item.item_name|tr|cc }}" data-toggle="collapse" aria-expanded="false" class="split-right dropdown-toggle"></a>
      {% endif %}
    </div>
    {% if item.item_subitems.all() %}
      <ul class="collapse list-unstyled" id="{{ item.item_name|tr|cc }}">
        {{ loop(item.item_subitems) }}
      </ul>
    {% endif %}
  </li>
  {% endfor %}
</ul>{# 
  <li>
    <div class="split-container">
      <a href="#" class="split-left">Home</a>
      <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="split-right dropdown-toggle"></a>
    </div>
    <ul class="collapse list-unstyled" id="homeSubmenu">
      <li>
        <div class="split-container">
          <a href="#" class="split-left">Home1</a>
          <a href="#home1Submenu" data-toggle="collapse" aria-expanded="false" class="split-right dropdown-toggle"></a>
        </div>
        <ul class="collapse list-unstyled" id="home1Submenu">
          <li>
            <div class="split-container">
              <a href="#" class="split-left">Home2</a>
              <a href="#home2Submenu" data-toggle="collapse" aria-expanded="false" class="split-right dropdown-toggle"></a>
            </div>
            <ul class="collapse list-unstyled" id="home2Submenu">
              
              <li>
                <a href="#" class="menu-item">Home 2</a>
              </li>
              <li>
                <a href="#" class="menu-item">Home 3</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#" class="menu-item">Home 2</a>
          </li>
          <li>
            <a href="#" class="menu-item">Home 3</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#" class="menu-item">Home 2</a>
      </li>
      <li>
        <a href="#" class="menu-item">Home 3</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="#" class="menu-item">About</a>
  </li>
  <li>
    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
    <ul class="collapse list-unstyled" id="pageSubmenu">
      <li>
        <a href="#" class="menu-item">Page 1</a>
      </li>
      <li>
        <a href="#" class="menu-item">Page 2</a>
      </li>
      <li>
        <a href="#" class="menu-item">Page 3</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="#" class="menu-item">Portfolio</a>
  </li>
  <li>
    <a href="#" class="menu-item">Contact</a>
  </li>
</ul> #}