<div class="sidebar-header">
  <h3>Bootstrap Sidebar</h3>
</div>
<ul class="list-unstyled components">
  <p>Dummy Heading</p>
  <li>
    <div class="split-container">
      <a href="#" class="split-left">Home</a>
      <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="split-right dropdown-toggle"></a>
    </div>
    <ul class="collapse list-unstyled" id="homeSubmenu">
      <li>
        <div class="split-container">
          <a href="#" class="split-left">Home1</a>
          <a href="#home1Submenu" data-toggle="collapse" aria-expanded="false" class="split-right dropdown-toggle"></a>
        </div>
        <ul class="collapse list-unstyled" id="home1Submenu">
          <li>
            <div class="split-container">
              <a href="#" class="split-left">Home2</a>
              <a href="#home2Submenu" data-toggle="collapse" aria-expanded="false" class="split-right dropdown-toggle"></a>
            </div>
            <ul class="collapse list-unstyled" id="home2Submenu">
              
              <li>
                <a href="#" class="menu-item">Home 2</a>
              </li>
              <li>
                <a href="#" class="menu-item">Home 3</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#" class="menu-item">Home 2</a>
          </li>
          <li>
            <a href="#" class="menu-item">Home 3</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#" class="menu-item">Home 2</a>
      </li>
      <li>
        <a href="#" class="menu-item">Home 3</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="#" class="menu-item">About</a>
  </li>
  <li>
    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
    <ul class="collapse list-unstyled" id="pageSubmenu">
      <li>
        <a href="#" class="menu-item">Page 1</a>
      </li>
      <li>
        <a href="#" class="menu-item">Page 2</a>
      </li>
      <li>
        <a href="#" class="menu-item">Page 3</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="#" class="menu-item">Portfolio</a>
  </li>
  <li>
    <a href="#" class="menu-item">Contact</a>
  </li>
</ul>