{% extends "navigation.html" %}
{% from "macros.html"import page_preview with context %}
{% from 'bootstrap/pagination.html' import render_pagination %}
{% set title = tag %}
{% set pagination = tag_pages.filter_by(page_visible=True).paginate(page_num, per_page, False) %}

{% block page_content %}
  <div class="card float-md-left mr-md-3">
    <div class="card-body">
      {# <small class="text-muted">Просмотр пользователя</small> #}
      <h6 class="card-title"><b>Публикации</b></h6>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Метка <span class="badge badge-primary badge-pill">{{ tag }}</span></li>
        <li class="list-group-item">Публикаций <span class="badge badge-primary badge-pill">{{ tag_pages.count() }}</span></li>
      </ul>
    </div>
  </div>
  {% for page in pagination.items|sort(attribute='page_timestamp', reverse=True) %}
    {{ page_preview(page) }}
  {% endfor %}
  {{ render_pagination(pagination, align='center') }}
{% endblock %}